.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  }

.elm-container {
  margin: 1rem 0 3rem 0;
  }

.search-bar{
  margin: 12rem 0 6rem 0;
  }

.search-bar-style {
  height: 59px;
  width: 950px;
  /* margin: 0 15px; */
  border: white solid 2px;
  padding: 0 15px;
  border-color: white;
  border-radius: 18px;
  background-color: transparent;
  }

.button-style {
  height: 59px;
  width: 150px;
  padding: 0 15px;
  border-radius: 0 18px 18px 0;
  border: none;
  background-color: transparent;
  color: white;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Anonymous Pro', monospace; 
  }

.button-style:hover {
  color: rgb(242, 235, 235);
  }

.all-products {
  background-color: rgb(244, 241, 241);
  height: 400px;
}

p {
  font-size: 60px;
  font-family: 'Anonymous Pro', monospace; 
  margin: 12rem 0 0 0; 
  color: white;
  position: relative;
}

p:before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -20px;
  width: 950px;
  height: 12px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(218, 212, 211, 0.5);
  /* z-index: -1; */
}

.products {
  color: white;
  font-family: 'Anonymous Pro', monospace; 
}
