
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  }

.search-bar{
  margin: 4rem;
  display: flex;
  flex-direction: row;
  }

.search-bar-style {
  padding: 15px;
  font-size: 17px;
  width: 700px;
  border-radius: 18px  0 0 18px;
  border: 1px solid rgb(82, 82, 82);
  }

.button-style {
  border-radius: 0 18px 18px 0;
  border: 1px solid rgb(82, 82, 82);
  background-color: #46241a;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 150px;
  padding: 15px;
  border: 1px solid rgb(82, 82, 82);
}

.button-style:hover {
  background-color: #371b13;
}

p {
  margin-top: 5rem;
  font-size: 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family: 'Anonymous Pro', monospace;  */
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  margin: 18rem 10rem 0 10rem;
  font-size: 45px;
}

.items {
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgba(135, 124, 124, 0.3);
  width: 300px;
  max-height: 500px;
  height: 500px;
  word-wrap: break-word;
  padding: 10px;
  margin: 2rem;
  border-radius: 18px;
  transition: 500ms linear; 
}

.items:hover {
  transform: scale(1.1);

}
.movie-title {
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 18px;
}

.all-items{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.header-background {
  background-image: url('./header-m-overlay.jpeg');
  box-shadow: inset 0 0 99999px rgba(0, 0, 0,1 );
  width: 100%;
  height: 30rem;
  border-color: white solid 5px;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  margin: 18rem 10rem 0 10rem;
  font-size: 30px;
}
.margin-bottom {
  margin-bottom: 8rem;
}

/* img {
  background-image: url('./not-found.png')
}

nav {
  background-color: transparent;
}

nav button {
  background-color: white;
  border: red 1px solid;
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: end;
} */